<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HelloWorld</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <h1>Angular</h1>
<nav>
  <a routerLink="/view/home" >Home</a> |
  <a routerLink="/view/convertor" >Convertor</a> |
  <a routerLink="/view/settings" >Settings</a><br>
</nav>
<div class="layout"> 
 <router-outlet></router-outlet>
</div>

</body>
</html>